.JobCard {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d8d8d8;
}

.JobCard:first-child {
    border-top: 1px solid #d8d8d8;
}

.JobCard > div {
    display: flex;
    justify-content: space-between;
}

.JobCard > div > div:first-child {
    text-align: left;
}

.JobCard > div > div:last-child {
    text-align: right;
}

.JobCard .Tags > span {
    font-size: 0.9em;
    margin-right: 8px;
}

.JobCard .JobTitle {
    font-weight: bold;
}

.JobCard .CompanyName {
    font-size: 0.9em;
}

.JobCard .Duration {
    font-size: 0.9em;
    color: #C3C4C5;
}