.JobCard {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d8d8d8;
  padding: 16px 0 8px;
}

.JobCard {
  border-top: 1px solid #d8d8d8;
}

.JobCard > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.JobCard > div:not(.JobInfo) > div:first-child {
  text-align: left;
}

.JobCard > div:not(.JobInfo) > div:last-child {
  text-align: right;
}

.JobHeader {
  align-items: flex-start;
}

.JobCard > div.JobInfo {
  display: grid;
  grid-template-columns: 4fr 6fr;
  justify-content: start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.JobFooter {
  align-items: center;
}

.JobTitle {
  font-weight: bold;
  flex-wrap: wrap;
}

.Salary {
  flex-shrink: 0;
  margin-left: 16px;
}

.Company {
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.Company > img {
    height: 40px;
    margin-right: 16px;
}

.Duration {
  font-size: 0.9em;
  color: #C3C4C5;
  flex-shrink: 0;
  margin-left: 8px;
}

.JobTag > span {
  font-size: 0.9em;
  margin-right: 8px;
}
