.JobCard {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d8d8d8;
    padding: 24px 0;
}

.JobCard {
    border-top: 1px solid #d8d8d8;
}

.JobCard > div {
    display: flex;
    justify-content: space-between;
}

.JobCard > div > div:first-child {
    text-align: left;
}

.JobCard > div > div:last-child {
    text-align: right;
}

.JobTag > span {
    font-size: 0.9em;
    margin-right: 8px;
}

.JobTitle {
    font-weight: bold;
    flex-wrap: wrap;
}

.Salary {
    flex-shrink: 0;
}

.Company {
    font-size: 0.9em;
}

.Duration {
    font-size: 0.9em;
    color: #C3C4C5;
}