.SearchPanel {
    padding: 16px;
}

.Searchbar {
    display: flex;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
}

.Searchbar > input {
    flex-grow: 1;
    border: 0;
    outline: none;
    margin-left: 8px;
    font-size: 1em;
}

.FilterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    border-radius: 17px;
}