.Pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Pagination-noresults {
    justify-self: center;
}

.Pagination-page.Pagination.active {
    color: #2379ea;
}