.Pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.Page[active="active"] {
    color: #2379ea;
}

.Navigator[disabled] {
    color: #d8d8d8;
}